[inception]
general_log=ON
general_log_file=/apps/srv/inception/logs/inc.log
inception_ddl_support=ON
inception_check_autoincrement_datatype=ON
inception_check_autoincrement_init_value=ON
inception_check_autoincrement_name=ON
inception_check_column_comment=ON
inception_check_column_default_value=OFF
inception_check_dml_limit=ON
inception_check_dml_orderby=ON
inception_check_dml_where=ON
inception_check_index_prefix=OFF
inception_check_insert_field=ON
inception_check_primary_key=ON
inception_check_table_comment=ON
inception_check_timestamp_default=OFF
inception_ddl_support=OFF
inception_enable_autoincrement_unsigned=OFF
inception_enable_blob_type=ON
inception_enable_column_charset=OFF
inception_enable_enum_set_bit=ON
inception_enable_foreign_key=OFF
inception_enable_identifer_keyword=ON
inception_enable_not_innodb=ON
inception_enable_nullable=ON
inception_enable_orderby_rand=ON
inception_enable_partition_table=OFF
inception_enable_select_star=ON
inception_enable_sql_statistic=ON
inception_max_char_length=36
inception_max_key_parts=5
inception_max_keys=7
inception_max_update_rows=10000
inception_merge_alter_table=ON
inception_osc_bin_dir=/apps/srv/inception/
inception_osc_check_interval=5.000000
inception_osc_chunk_size=1000
inception_osc_chunk_size_limit=4.000000
inception_osc_chunk_time=0.100000
inception_osc_drop_new_table=ON
inception_osc_drop_old_table=ON
inception_osc_max_lag=3.000000
inception_osc_max_thread_connected=1000
inception_osc_max_thread_running=80
inception_osc_min_table_size=1
inception_osc_on=OFF
inception_osc_print_none=ON
inception_osc_print_sql=ON
inception_remote_backup_host=127.0.0.1
inception_remote_backup_port=5621
inception_remote_system_password=inception
inception_remote_system_user=inception
inception_support_charset=utf8mb4,utf8
interactive_timeout=28800
port=6100
socket=/apps/srv/inception/logs/inception.sock
thread_handling=one-thread-per-connection
wait_timeout=28800
